<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.shulie.takin.cloud.data.mapper.mysql.MiddlewareJarMapper">

    <insert id="insertBatch">
        INSERT INTO
        t_middleware_jar(`name`, `type`, `status`, artifact_id, group_id, version, agv)
        VALUES
        <foreach collection="entities" item="entity" index="index" separator=",">
            (
            #{entity.name},
            #{entity.type},
            #{entity.status},
            #{entity.artifactId},
            #{entity.groupId},
            #{entity.version},
            #{entity.agv}
            )
        </foreach>
    </insert>

    <update id="deleteByAgvList">
        UPDATE t_middleware_jar SET is_deleted = 1 WHERE is_deleted = 0
        AND agv IN
        <foreach collection="agvList" item="agv" index="index" separator="," open="(" close=")">
            "${agv}"
        </foreach>
    </update>

</mapper>


